.seller-box {
  height: 100%;
}

.seller-image {
  height: 28rem;
  width: 100%;
  margin: 0;
}

.seller-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow-y: hidden;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
}
